*.DS_Store
*.pyc
._*
__pycache__
*.spec
*.conf
*.db
*.creds
*projects.txt
*/assets/*
extensions/*
build/*
dist/*
env/*

snpEff_genes.txt
snpEff_summary.html

run_PRJNA385509.py
run_sorghum_test.py
test_project_setup.py
