{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        
        <div class="media-body">
            <div class = "article-metadata">
                <h3>Confirm New Project Setup</h3>
            </div>
            <p class = "mt-2">
            {% for key, value in form_data.items() %}
                {{ key }}: {{ value }}<br>
            {% endfor %}
            </p>
        </div>

        <form method = "POST" action = "">
            <div class = "form-group ml-5">
                {{ form.csrf_token }}
                {{ form.submit(class = "btn btn-outline-info") }}
            </div>
        </form>

    </article>
{% endblock content %}